// @import 'homeSheet';


$darkPurple : #6528F7;
$backgroundColor : white;
$mainColor : #A076F9;
$textColor : black;
$radius: 1rem;
$gold: #FFD700;

*{
    margin: 0;
    padding: 0;
}

.app{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}


