@import 'mainSheet';

span{
  background: transparent;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  margin-bottom: .3rem;
}

.products-page{
  display: grid;
  grid-template-columns:
  1fr 9fr
  ;
  grid-template-areas: 
  "category products";
  grid-auto-flow: row;
  margin: auto;
  grid-template-columns: repeat(auto-fill);  
  overflow: hidden;
  width: 90rem;
  // height: 70rem;
  height: fit-content;
  margin-bottom: 1rem;
  // border: red solid;
  padding: 0;
}

.products-category-tab{
  grid-area: category;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 10rem;
  height: 100%;
  // border-right: gold solid;
  // background-color: $mainColor;
  margin-right: 1em;
}

.product-category{
display: flex;
border-bottom: gold solid;
width: 10rem;
height: 4rem;
align-items:center;
justify-content: center;
font-weight:900;
font-size: 1.3em;
color: $darkPurple;
text-shadow: 0 0 .1em gold, 0 0 .1em gold;
}

.products-flex{
grid-area: products;
padding: 0;
vertical-align: top;
display: flex;
justify-content:flex-start;
align-items: flex-start;
flex-wrap: wrap;
overflow: scroll;
background-color: transparent;
background: transparent;
font-size: 1.2em;
text-align: center;
font-weight: 600;
color: gold;
  width: 70rem;
  height: fit-content;
  max-height: 70rem;

}

.product-box-style{
  flex-shrink: 0;
  // grid-area: products;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: .6rem;
    border: .4rem outset $gold;
    border-radius: 1rem;
    background: linear-gradient(
      135deg,
      rgba(101, 40, 247, 1) 0%,
      rgba(160, 118, 249, 1) 100%
    );
    box-shadow: inset 0rem 0rem 1rem .3rem rgba(255, 215, 0, 0.2);
    box-shadow: 0px 0px .8rem .05rem rgba(0, 0, 0, 0.3);
    width: 10rem;
    height: 10rem;
}

.product-box-price{
  position: relative;
  color: gold;
  margin-left: 7.5em;
  margin-top: -2em;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  height: 2em;
  width: 3em;
  border: gold solid;
  background-color:  #bea1fd;
  box-shadow: 0px 0px .4rem .04rem rgba(0, 0, 0, 0.3);

}


.products-cart-icon{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
  width: 3.5rem;
  height: 3.5rem;
  border: gold solid;
  background-color:  #bea1fd;
  border-radius: 100em;
  transition-duration: .3s;
}

.products-cart-icon:hover{
  box-shadow: inset 0rem 0rem 10rem rgb(148, 127, 4);
}
.products-cart-icon:active{
  scale: 80%;
}
