@import 'mainSheet';


.sticky-container{
    position:sticky;
    display: flex;
    top: 0vh;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    background-color: $mainColor;
    border-bottom: $gold solid;
    border-top: solid $gold;
    z-index: 0;
    box-shadow: 0 .3rem .2rem 0px rgba(248, 170, 3, 0.205);
}

.sticky-homelogo{
    width: 4rem;
    height: 4rem;
}

.sticky-search{
    height: 1.5rem;
    width: 20em;
    border: $gold solid .15rem;
    background-color: #bea1fd;
}
.sticky-shopcart{
    width: 4rem;
    height: 4rem;
}



