@import 'mainSheet';


.sticky-container{
    display: flex;
    width: 100%;
    height: 6rem;
    border: red solid;
    align-items: center;
    justify-content: center;
}
.sticky-grid{
    display: grid;
    background: $mainColor; 
    width: 100%;
    grid-template-columns: 2fr 6fr 2fr; 
    // grid-auto-rows: minmax(100%, auto);
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas: 
        "iem1 item2 item3";
        // margin-bottom: 1rem;
}

.sticky-homelogo{
    grid-area: item1;
    width: 4rem;
    height: 4rem;
    border: red solid;
}

.sticky-search{
    grid-area: item2;
    height: 3rem;
    width: 20em;
    border: red solid;
}
.sticky-shopcart{
    grid-area: item3;
    width: 4rem;
    height: 4rem;
    border: red solid;
}



